<ion-view transitiontype="fade" go-native>
  <ion-content class="back bgBeige">
     <div class="list">
        <div class="item item-divider">
          {{'ASSOC' | translate}}
        </div>
        <a class="item bgBeige" ng-href="#/menu/festival">{{'FEST' | translate}}</a>
        <a class="item bgBeige" ng-href="#/menu/partners">{{'PARTNER' | translate}}</a>
        <a class="item bgBeige" ng-href="#/menu/contact">{{'CONTACT' | translate}}</a>
        <div class="item item-divider">
          {{'APP' | translate}}
        </div>
        <a class="item bgBeige" ng-href="#/menu/us">{{'US' | translate}}</a>
      </div>

  </ion-content>
</ion-view>
