<ion-view hide-back-button="true" transitiontype="fade" go-native>
   <ion-content padding="true" scroll="false" class="no-header bgBeige" style="top: 0;">
      <ul style="margin-top:44px;height:19%">
         <li style="display:inline;list-style:none;text-align:center;">
            <a ng-href="#/menu/artistes" class="itemHome bgOrange" style="width:99%;">
               <img src="img/music.png" class="itemImgHome" style="width:64px !important"/><br>
               <b>{{'PROGRAMMATION' | translate}}</b>
            </a>
         </li>
         <li style="display:inline;list-style:none;text-align:center;">
            <a ng-href="#/menu/prevention" class="itemHome bgRouge" style="width:49%;">
               <img src="img/secour.png" class="itemImgHome"/><br>
               <b>{{'GUIDE' | translate}}</b>
            </a>
         </li>
         <li style="display:inline;list-style:none;text-align:center;">
            <a ng-href="#/menu/camping" class="itemHome bgBleu" style="width:49%;">
               <img src="img/camp.png" class="itemImgHome"/><br>
               <b>{{'ANNIMATION' | translate}}</b>
            </a>
         </li>
         <li style="display:inline;list-style:none;text-align:center">
            <a ng-href="#/menu/game" class="itemHome bgOrange" style="width:66%;">
               <img src="img/game.png" class="itemImgHome"/><br>
               <b>Le Jeu</b>
            </a>
         </li>
         <li style="display:inline;list-style:none;text-align:center">
            <a ng-href="#/menu/move" class="itemHome bgRouge" style="width:32%;">
               <img src="img/car.png" class="itemImgHome"/><br>
               <b>{{'MOVE' | translate}}</b>
            </a>
         </li>
         <li style="display:inline;list-style:none;text-align:center">
            <a ng-href="#/menu/infos" class="itemHome bgRouge" style="width:32%;">
               <img src="img/credit.png" class="itemImgHome"/><br>
               <b>credits</b>
            </a>
         </li>
         <li style="display:inline;list-style:none;text-align:center;">
            <a ng-href="#/menu/ma" class="itemHome bgBleu" style="width:66%;">
               <img src="img/friend.png" class="itemImgHome"/>
               <p>
                  <b>{{'FOUND_FRIEND' | translate}}</b>
               </p>
            </a>
         </li>
      </ul>

   </ion-content>
</ion-view>
