<ion-view hide-back-button="true" transitiontype="fade" go-native>
  <ion-content padding="true" class="back" scroll="false" class="no-header bgBeige" style="top: 0;">
   <div class="containerMove">
      <a ng-href="#/menu/foundCovoit">
         <div class="bgOrange text-center itemMove">
            <img src="img/covoit.png" alt="" class="iconMove">
            <h4 class="titleIndexMove">Covoiturage</h4>
         </div>
      </a>
      <div id="choseMove">
         <div id="txtChoseMove">Choisis ton transport</div>
      </div>
      <a ng-href="#/menu/train">
         <div class="bgBleu text-center itemMove">
            <img src="img/autre.png" alt="" class="iconMove"/>
            <h4 class="titleIndexMove">Autres Deplacements</h4>
         </div>
      </a>
   </div>
  </ion-content>
</ion-view>
