<ion-view>
  <ion-content class="back" padding="true" style="background-color:#FEFEE2" class="no-header" style="top: 0;">
    <h1 class="titleOtherMove">Bus</h1>
    <p class="txtOtherMove">
       Deux lignes de bus twisto desservent la ville de Sannerville vous trouverez en dessous les deux plans de ces lignes
    </p>
    <div style="text-align:center;margin-top:2%">
      <a onclick="window.open('http://twisto.fr//upload/plan_de_ligne/Plan_L26.pdf', '_system', 'location=yes'); return false;">
       <button class="button button-large btnMove">
          Ligne 26
       </button>
      </a>
      <a onclick="window.open('http://twisto.fr/upload/plan_de_ligne/Plan_BV36.pdf', '_system', 'location=yes'); return false;">
       <button class="button button-large btnMove">
          Bus Vert 36
       </button>
      </a>
    </div>

   <h1 class="titleOtherMove">TRAIN</h1>
   <div style="text-align:center;margin-top:2%">
      <a onclick="window.open('http://www.voyages-sncf.com/', '_system', 'location=yes'); return false;" style="">
       <button class="button button-large btnMove">
          SNCF
       </button>
      </a>
   </div>

   <h1 class="titleOtherMove">Autres moyens de deplacements</h1>
     <p class="txtOtherMove">
        Plusieurs autres moyens de pour se rendre au festival sont disponibles : <br>
        ATC Navette Caen : Info et resas : 06.11.54.52.55 <br><br>
        Captain Sam se propose de vous ramener avec votre voiture. Infos et resas : <br>
      <div style="text-align:center;margin-top:2%">
         <a onclick="window.open('http://www.captain-sam.fr', '_system', 'location=yes'); return false;" class="">
          <button class="button button-large btnMove">
             Captain Sam
          </button>
         </a>
      </div>
     </p>

  </ion-content>
</ion-view>
